


                {{#data}}
                    <h3>Current Status:  {{{status}}}</h3>
                    <p><strong>Last Modified: </strong> {{{date}}}</p>
                    <div class="box py-3 boxaligncenter plugincontentsummary card p-3 mb-4"><h3>Submission:</h3>
                        <div class="submission-view--checklist">
                            <p><strong>Participant Completed:</strong></p>
                            <div class="checked"><i class="fa fa-check"></i><p>Completed the
                                <a href="/mod/feedback/view.php?id=9253">pre-training survey</a>?
                            </p></div>
                            <div class="checked"><i class="fa fa-check"></i><p>Filled out the
                                <a href="/local/staruser/user.php?userid={{{userid}}}">participant information form</a>?
                            </p></div>
                            <div class="checked"><i class="fa fa-check"></i><p>Submitted the
                                <a href="/local/staruser/user.php?userid={{{userid}}}">participant agreement form</a>?
                            </p></div>
                            <div class="checked"><i class="fa fa-check"></i><p>Watched, listened to Mark and Cheryl talk about STAR?</p></div>

                        </div></div>
                        {{/data}}

